@import "../../index.scss";

.form {
  &-group {
    @include flex-column-skretch;
    gap: 16px;

    &--inputs {
      gap: 12px;
    }

    &__names {
      display: flex;
      flex-direction: row;
      gap: 12px;
    }
  }
}